footer.footer{
    height: 360px ;
    width: 100%;
    background: #1c1c1c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    .top__nav{
        display: flex;
        flex-direction: row;
        gap: 40px;
        p{
            color: #fff;
            font-size: 20px;
            font-weight: 300;
        }
    }
    .footer__adress{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        p{
            font-size: 18px;
            color: #fff;
            font-weight: 300;
        }
    }
    .footer__social{
        display: flex;
        flex-direction: row;
        gap: 30px;
        img{
            width: 50px;
            height: 50px;
            cursor: pointer;
            &:hover{
                transform: translateY(-5px);
                transition: all .2s ease-in-out;
            }
        }
    }
    .after{
        position: relative;
        display: block;
        width: 100%;
        &::after{
            content: "";
            position: absolute;
            height: 1px;
            width: 100%;
            background: #fff;
        }
    }
    .footer__copyright{
        font-size:24px ;
        font-weight: 400;
        color: #fff;
    }
}