.wrapper{

    .container{
        max-width: 1400px;
        margin: 0 auto;
        .header{
            margin: 35px 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .header__nav{
                ul{
                    display: flex;
                    flex-direction: row;
                    gap: 50px;
                    li{
                        font-size: 18px;
                        font-weight: 400;
                        transition: all 0.4s ease;
                        cursor: pointer;
                        &:hover{
                            transform: scale(1.050);
                        }
                    }
                }
            }
            .socials{
                transition: all 0.5s ease;
                a{
                    font-size: 18px;
                    font-weight: 400;
                    
                }
                &:hover{
                    transform: scale(1.2);
                    font-weight: 800;
                }
            }
        }
    }
}