@use 'sass:math';

// Container
$containerWidth : 1080px ; // Ширина контейнера
$ContainerPadding : 20px ; // Отступы внутри контейнера

// // Adaptive Breakpoint
// $breakpoint1450: 1449.98px +px; // 1450px
// $breakpoint992: 991.98px +px; // 992px
// $breakpoint768: 767.98px +px; // 768px
// $breakpoint480: 479.98px +px; // 480px

// Colors
$whiteColor: #fff;
$primaryColor : #262626;
$bg-colors: #1C1C1C;
$secondaryColor : #fff;
$primaryDark : #fff;
$primary : #fff;